button {
  text-align: right;
  background-color: #D9E8F2;
  color: #454056;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 24px;
}

.wrapper_button {
  display: flex;
  justify-content: flex-end;
  margin: 122px 44px 60px;
}

.btn_send {
  font-family: 'Montserrat', sans-serif;
  color: #454056;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
  color:#454056;
  font-weight: light;
}